@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-dark: #33292a; 
    --secondary-dark: #644b4f;
    --text-color: #333333;
    --text-light: #fff;
    --bg-light: #f2f2f2;
    --footer-bg: #333333;
    --link-color: #efa69d;
    --link-hover: #e9877b;

    --font-main: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-main);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;

    border-radius: 5px; 
}

h1, h2, h3 {
    font-family: var(--font-main);
    margin-bottom: 1rem;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33292a; 
    z-index: 100   ;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    width: auto;
}

nav a {
    color: var(--text-light);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

nav a:hover {
    color: var(--link-color);
}


.menu-icon {
    display: none;
    color: var(--text-light);
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.hero {
    margin-top: 65px;
    height: 100vh;
    position: relative;
    background-color: #555; 
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0; 
}

.hero-text {
    position: absolute;
    bottom: 15%;
    right: 20%; 
    text-align: right;
    color: var(--text-light);
}

.hero-text h1 {
    font-size: 4.5rem;
    line-height: 1.1;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
}

.about-section {

    padding: 100px 20%;
    display: flex;
    align-items: center;
    gap: 60px;
    background: white;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000;
}

.about-text p {
    margin-bottom: 15px;
    font-size: 0.95rem;
    color: #555;
    text-align: left;

    max-width: 600px;
}

.about-image {
    flex: 1;
}